*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}

body{
    color: white;
    font-family: 'Cabin', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}

header{
    width: 200px;
    height: calc(100vh - 100px);
    background-color: rgb(255, 153, 0);
}

main{
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    background-color: #141922;
}

footer{
    width: 100vw;
    height: 100px;
    background-color: brown;
    position: absolute;
}

header div img{
    width: 60%;
    margin-top: 15px;
    margin-bottom: 20px;
}



li{
    list-style-type: none;
}

.header-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.playlist-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg-grey{
    background-color: #080b12;
    height: 12%;
    justify-content: flex-end;
    align-items: center;
}

section.bg-grey div a{
    color: white;
    background-color: #080b12;
    border-radius: 25px;
    border: 2px solid white;
    text-decoration: none;
    padding: 10px 50px;
}

nav ul.wrap{
    justify-content: center;
    margin-top: 1%;
}
nav ul.wrap li{
    padding-inline: 1%;
}

a{
    color:white;
    text-decoration: none;
}

.main-container{
    width: 98%;
    margin: auto;
    overflow: scroll;
}

section.main-container div h1{
    margin-top: 1.8rem;
    margin-bottom: 1.3rem;
}

.disk-container{
    width: calc(100% / 6 - 1rem);
    text-align: center;
    margin-right: 1rem;
}
.disk-container img{
    width: 100%;
}

@media screen and (max-width:768px) {
    .disk-container{
        width: calc(100% / 4 - 1rem);
    }
}

@media screen and (max-width:576px) {
    .disk-container{
        width: calc(100% / 2 - 1rem);
    }
}
@media screen and (max-width:450px) {
    .main-container{
        width: 99%;
    }
}